@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Merriweather:900|Merriweather+Sans:300,400');


/* @import url('https://fonts.googleapis.com/css?family=Bungee|Crete+Round|Fjalla+One|Merriweather:300,400,700,900|Noto+Serif+TC:200,300,400,500,600,700,900|Old+Standard+TT:400,700|Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800|Noto+Sans:400,700|Nunito:200,300,400,600,700,800,900,900i|Raleway:100,200,300,400,500,600,700,800,900'); */

/* 
Barlow+Condensed:400,700
Montserrat: 400,,700,800,900
|Noto+Serif:400,700|Spectral+SC:400,500|
Lato: ,400,900

font-family: 'Spectral SC', serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Noto Serif TC', serif;
font-family: 'Noto Sans', sans-serif;

font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Bungee', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Crete Round', serif;
font-family: 'Old Standard TT', serif;

font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;



*/