
.mt-6 {
  margin-top: 6rem !important;
}
.mt-7{
  margin-top: 7rem !important;
}
.mt-8{
  margin-top: 8rem !important;
}
.mt-9{
  margin-top: 9rem !important;
}
.mt-10{
  margin-top: 10rem !important;
}
.mt-11{
  margin-top: 11rem !important;
}
.mt-12{
  margin-top: 12rem !important;
}
.mt-13{
  margin-top: 13rem !important;
}
.mt-14{
  margin-top: 14rem !important;
}
.mt-15{
  margin-top: 15rem !important;
}

.mr-10{
  margin-right:10rem !important;
}


.pt-6 {
  margin-top: 6rem !important;
}
.pt-7{
  margin-top: 7rem !important;
}
.pt-8{
  margin-top: 8rem !important;
}
.pt-9{
  margin-top: 9rem !important;
}
.pt-10{
  margin-top: 10rem !important;
}
.pt-11{
  margin-top: 11rem !important;
}
.pt-12{
  margin-top: 12rem !important;
}
.pt-13{
  margin-top: 13rem !important;
}
.pt-14{
  margin-top: 14rem !important;
}
.pt-15{
  margin-top: 15rem !important;
}