.navbar .nav-item ul {
    display: none;
}

.navbar .nav-item:hover ul {
    display: inline-flex;
}


.navbar .nav-item ul li {
    display: inline-flex;
    float: none;
}


.cantalupe {
    --bg: #ffa88c;
    --bgtext: ##643d30;
}

:root {
    --bodybg: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --bodycolor: #333;
    --progress-bg: #333;
    --top-container-box-shadow: rgba(0, 0, 0, 0.3);
    --top-container-bg: #333;
    --navbar-bg: #f8f9fa !important;
    --nav-link-text-active: rgba(0, 0, 0, .9);
    --nav-link-text: rgba(0, 0, 0, .5);
    --nav-link-text-hover: rgba(0, 0, 0, .7);
    --navbar-toggler-icon: none;
    --navbar-toggler-bg: transparent;
    --navbar-toggler-color: rgba(0, 0, 0, 0.5);
    --navbar-toggler-border: rgba(0, 0, 0, 0.1);
    --dropdown-menu-bg: #fff;
    --dropdown-menu-border: rgba(0, 0, 0, .15);
    --dropdown-item-text: #333;
    --dropdown-item-text-hover: #fff;
    --dropdown-item-bg-hover: #000;
    --searchfield-bg: inherit;
    --searchfield-text: inherit;
    --searchfield-border: gainsboro;
    --searchbutton-border: gainsboro;
    --searchbutton-border-hover: inherit;
    --searchbutton-text: white;
    --searchbutton-text-hover: white;
    --searchbutton-bg: lightslategrey;
    --card-header-bg: #FDFDFD;
    --card-header-text: black;
    --card-header-border: #eaeaea;
    --card-title: rgba(0, 0, 0, .4);
    --card-title-beispiel: rgba(0, 0, 0, .4);
    --card-title-border: none;
    --addCardElement: gainsboro;
    --addCardElement-hover: dimgrey;
    --card-before-separator: #EEEEEE;
    --card-bg: #fff;
    --card-border: inherit;
    --card-text: #888;
    --card-text-shadow: none;
    --card-box-shadow: rgba(0, 0, 0, 0.3);
    --card-block-bg: #fff;
    --card-block-border: #eaeaea;
    --card-block-bsp: #FCFCFC;
    --beispiel-li-icon: #0074D9;
    --beispiel-li-text: #333;
    --card-footer-bg: white;
    --card-footer-text: dimgrey;
    --card-wirkung-text: #333;
    --card-wirkung-icon: gold;
}

.tau {
    --bodybg: #c8d3da;
    --bodycolor: #494b6a;
    --progress-bg: #494b6a;
    --top-container-box-shadow: rgba(0, 0, 0, 0.3);
    --top-container-bg: #333;
    --navbar-bg: #f8f9fa !important;
    --nav-link-text-active: rgba(0, 0, 0, .9);
    --nav-link-text: rgba(0, 0, 0, .5);
    --nav-link-text-hover: rgba(0, 0, 0, .7);
    --navbar-toggler-icon: none;
    --navbar-toggler-bg: transparent;
    --navbar-toggler-color: rgba(0, 0, 0, 0.5);
    --navbar-toggler-border: rgba(0, 0, 0, 0.1);
    --dropdown-menu-bg: #fff;
    --dropdown-menu-border: rgba(0, 0, 0, .15);
    --dropdown-item-text: #333;
    --dropdown-item-text-hover: #fff;
    --dropdown-item-bg-hover: #000;
    --searchfield-bg: inherit;
    --searchfield-text: inherit;
    --searchfield-border: gainsboro;
    --searchbutton-border: gainsboro;
    --searchbutton-border-hover: inherit;
    --searchbutton-text: white;
    --searchbutton-text-hover: white;
    --searchbutton-bg: lightslategrey;
    --card-header-bg: #FDFDFD;
    --card-header-text: black;
    --card-header-border: rgba(0, 0, 0, .125);
    --card-title: rgba(0, 0, 0, 0.3);
    --card-title-beispiel: rgba(0, 0, 0, .3);
    --card-title-border: none;
    --addCardElement: gainsboro;
    --addCardElement-hover: dimgrey;
    --card-before-separator: #EEEEEE;
    --card-bg: #fff;
    --card-border: inherit;
    --card-text: #666;
    --card-text-shadow: none;
    --card-box-shadow: rgba(0, 0, 0, 0.3);
    --card-block-bg: #fff;
    --card-block-border: rgba(0, 0, 0, .125);
    --card-block-bsp: #FCFCFC;
    --beispiel-li-icon: #0074D9;
    --beispiel-li-text: black;
    --card-footer-bg: white;
    --card-footer-text: dimgrey;
    --card-wirkung-text: #333;
    --card-wirkung-icon: gold;
}



.dark {
    --bodybg: #050505;
    --bodycolor: #fff;
    --progress-bg: white;
    --top-container-box-shadow: rgba(0, 0, 0, 0.3);
    --top-container-bg: black;
    --navbar-bg: #222 !important;
    --nav-link-text-active: whitesmoke;
    --nav-link-text: dimgrey !important;
    --nav-link-text-hover: azure;
    --navbar-toggler-bg: dimgrey;
    --navbar-toggler-color: white;
    --navbar-toggler-border: silver;
    --dropdown-menu-bg: #191919;
    --dropdown-item-text: #bbb;
    --dropdown-item-text-hover: black;
    --dropdown-item-bg-hover: white;
    --dropdown-menu-border: white;
    --searchfield-bg: #333;
    --searchfield-text: lightskyblue;
    --searchfield-border: #444;
    --searchbutton-border: #444;
    --searchbutton-border-hover: #444;
    --searchbutton-text: whitesmoke;
    --searchbutton-text-hover: white;
    --searchbutton-bg: #555;
    --card-header-bg: #000;
    --card-header-text: whitesmoke;
    --card-header-border: dimgray;
    --card-title: dimgray;
    --card-title-beispiel: dimgray;
    --card-title-border: transparent;
    --addCardElement: dimgray;
    --addCardElement-hover: whitesmoke;
    --card-before-separator: #000;
    --card-bg: #000;
    --card-border: dimgray;
    --card-text: silver;
    --card-text-shadow: none;
    --card-box-shadow: #111;
    --card-block-bg: #000;
    --card-block-border: dimgray;
    --card-block-bsp: transparent;
    --beispiel-li-icon: chartreuse;
    --beispiel-li-text: white;
    --card-footer-bg: black;
    --card-footer-text: whitesmoke;
    --card-wirkung-text: #ccc;
    --card-wirkung-icon: darkslateblue;

}

.starfall {
    --bodybg: #050505;
    --bodycolor: #fff;
    --progress-bg: deepskyblue;
    --top-container-box-shadow: rgba(0, 0, 0, 0.3);
    --top-container-bg: black;
    --navbar-bg: #222 !important;
    --nav-link-text-active: mediumpurple;
    --nav-link-text: darkslateblue !important;
    --nav-link-text-hover: mediumslateblue;
    --navbar-toggler-bg: darkslateblue;
    --navbar-toggler-color: mediumslateblue;
    --navbar-toggler-border: mediumslateblue;
    --dropdown-menu-bg: #191919;
    --dropdown-item-text: #bbb;
    --dropdown-item-text-hover: #fff;
    --dropdown-item-bg-hover: mediumslateblue;
    --dropdown-menu-border: darkslateblue;
    --searchfield-bg: #333;
    --searchfield-text: lightskyblue;
    --searchfield-border: #444;
    --searchbutton-border: #444;
    --searchbutton-border-hover: #444;
    --searchbutton-text: slateblue;
    --searchbutton-text-hover: mediumpurple;
    --searchbutton-bg: #222;
    --card-header-bg: #000;
    --card-header-text: mediumslateblue;
    --card-header-border: midnightblue;
    --card-title: midnightblue;
    --card-title-beispiel: midnightblue;
    --card-title-border: transparent;
    --addCardElement: midnightblue;
    --addCardElement-hover: chartreuse;
    --card-before-separator: #000;
    --card-bg: #111;
    --card-border: midnightblue;
    --card-text: mediumpurple;
    --card-text-shadow: none;
    --card-box-shadow: #111;
    --card-block-bg: #000;
    --card-block-border: midnightblue;
    --card-block-bsp: transparent;
    --beispiel-li-icon: chartreuse;
    --beispiel-li-text: mediumslateblue;
    --card-footer-bg: black;
    --card-footer-text: white;
    --card-wirkung-text: #ccc;
    --card-wirkung-icon: slateblue;


}
